<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
        <!-- telling where to place style tag in layouts -->
    </head>
    <body>
        
        <%- include("_header") -%> 
        <!-- implimenting partial concept -->

        <% if(flash.success && flash.success.length > 0){ %>
<!-- above we are checking if locals has a flash and flash.success has a message                         -->
            <h5>
               <%= flash.success %>
            </h5> 
                      
        <% } %>
      
       <main id="layout-main">
            <%- body -%> 
            <!-- telling where the variable part will be -->
            <!-- so whatever file my controller is rendering will be filled here-->
       </main>

        <%- include("_footer") -%>
        <!-- implimenting partial concept -->
       
        <%- script %>
        <!-- telling where to place script tag in layouts -->
    </body>
</html>