<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
        <!-- telling where to place style tag in layouts -->
    </head>
    <body>
        
        <%- include("_header") -%> 
        <!-- implimenting partial concept -->
      
        <%- body -%> 
        <!-- telling where the variable part will be -->
        <!-- so whatever file my controller is rendering will be filled here-->

        <%- include("_footer") -%>
        <!-- implimenting partial concept -->
       
        <%- script %>
        <!-- telling where to place script tag in layouts -->
    </body>
</html>