<link rel="stylesheet" href="/css/user_profile.css">   
<!-- this link tag will be placed inside the body and not in head so we have solved this problem by using app.set()
     in index -->

<h1>User's profile</h1>

<% if(user.id==profile_user.id){ %> 
 <!-- if user matches then show updation form  -->
   <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST"> 
     <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
     <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
     <input type="file" name="avatar" placeholder="Profile Picture">
     <input type="submit" value="UPDATE">
   </form>

<% }else{ %>
<!-- else show profile information -->
   <p><%= profile_user.name%> </p>
   <p><%= profile_user.email%> </p>     
<% } %>

    



        